body{
    margin: 0;
    background-color: #18314F;
}

h1{
    margin: 20px;
    color: white;
    border: 0px solid;
    padding: 15px;
    box-shadow: 5px 10px 18px #131212;
    background-color: #E08E45;
}

div.contenedor{
    margin: 40px;
    padding: 5px;
    color: #720E07;
    background-color: #E6F9AF;
    border: solid mediumseagreen 2px;
}

td{
    padding: 5px;
}

div.boton{
    padding: 10px;
}

div.contenedor2{
    margin: 25px;
    padding: 5px;
    color: #720E07;
    background-color: #E6F9AF;
    border: solid mediumseagreen 2px;
}

