*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Manjari', sans-serif;
    background-color: rgb(150, 185, 250);
}

header{
    padding: 20px;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-left: 20px;
}


div.seminuevos {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

div.seminuevo {
    width: 50%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

div.seminuevo:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

img{
    width: 90%;
    height: 240px;
}

.imagen{
    text-align: center;
}

div.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    justify-content: center;
}

.marca{
    margin: 10px;
    font-size: 20px;
    padding: 8px;
}

.parrafo a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.parrafo a:hover {
    background: #2fb4cc;
    color: #fff;
}

.parrafo {
    text-align: center;
}







